<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/admin/hosts/list">List Hosts</a></li>
          <li><a href="/admin/hosts/add">Add Host</a></li>
        </ul>
      </div>
    </div>
  </nav>

