<% include header.html %>
<% if (!hosts || !hosts.length) { %>
No hosts
<% } else { %>
<table class="table">
<tr>
  <th>
    Host
  </th>
  <th>
    Port
  </th>
  <th>
    Password
  </th>
  <th>
    Read-only
  </th>
  <th>
    Read and Write
  </th>
  <th>
    Remove
  </th>
</tr>
<% for (var i = 0; i < hosts.length; i++) {%>
<tr>
  <td><%= hosts[i].hostname %></td>
  <td><%= hosts[i].port %></td>
  <td><%= hosts[i].password %></td>
  <td><input type="text" readonly value="" data-token="<%= hosts[i].readToken %>" class="copy-input"></td>
  <td><input type="text" readonly value="" data-token="<%= hosts[i].writeToken %>" class="copy-input"></td>
  <td><a href="/admin/hosts/delete/<%= hosts[i].id%>" class="btn btn-danger">Remove</a></td>
</tr>
<% } %>
</table>
<% } %>
<script>
(function () {
 var inputs = document.getElementsByClassName('copy-input');
 for (var i = 0; i < inputs.length; i += 1) {
  var token = inputs[i].getAttribute('data-token');
  inputs[i].value = location.protocol + '//' + location.host + '/?' + token;
 }
 }());
</script>
<% include footer.html %>
