<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/bootstrap.min.css" />
        <link rel="stylesheet" href="./css/styles.css" />
    </head>
    <body>
        <div id="loading">Loading...</div>
        <div id="screen-wrapper" style="display: none;">
          <canvas id="screen">
          </canvas>
        </div>
        <script src="http://localhost:5555/socket.io/socket.io.js"></script>
        <script src="./js/Client.js"></script>
        <script src="./js/Screen.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>
